* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #F5F8FB;
  padding: 16px;
}

.header__welcome {
  font-weight: bold;
  font-size: 20px;
}

.header__welcome-tip {
  color: #353B5054;
  margin-top: 8px;
}

.main {
  display: flex;
  flex-direction: column;
}

.action, .actions {
  height: 100px;
}

.action {
  background-color: #7D43B8;
}
